<div class="w-2/3 rounded bg-white p-3 my-8 mx-auto">
  <div class="flex justify-between">
    <div class="flex">
      <p class="self-end mr-1 text-green-600 text-lg">$</p>
      <h3 class="text-xl text-gray-900">{{ group.groupName }}</h3>
    </div>
    <!-- 
    maybe candidate for custom pipe to return value based off of type -->
    <div *ngIf="group.groupType === 'Income'" class="flex">
      <p class="mx-2 text-gray-400 text-sm">Planned</p>
      <p class="text-gray-400 text-sm">Recieved</p>
    </div>
    <div *ngIf="group.groupType !== 'Income'" class="flex">
      <p class="mx-2 text-gray-400 text-sm">Budgeted</p>
      <p class="text-gray-400 text-sm">Paid</p>
    </div>
  </div>
  <line-item
    *ngFor="let lineItem of group.lineItems"
    [lineItem]="lineItem"
  ></line-item>
  <button
    (click)="additemClick()"
    class="bg-blue-700 text-gray-200 py-1 px-3 mt-12"
  >
    ADD <span class="uppercase">{{ group.groupName }}</span> ITEM
  </button>
</div>
