<div class="w-2/3 rounded bg-white p-3 my-8 mx-auto">
  <div class="flex justify-between">
    <div class="flex">
      <p class="self-end mr-1 text-green-600 text-lg">$</p>
      <h3 class="text-xl text-gray-900">Income for November</h3>
    </div>
    <div class="flex">
      <p class="mx-2 text-gray-400 text-sm">Planned</p>
      <p class="text-gray-400 text-sm">Recieved</p>
    </div>
  </div>
  <div class="flex justify-between mt-4">
    <h3 class="text-gray-500 text-lg">Paycheck</h3>
    <div class="flex">
      <p class="mx-2 text-gray-700 text-sm">$3,124</p>
      <p class="mx-2 text-gray-700 text-sm">$3,1234</p>
    </div>
  </div>
  <div class="bg-green-500 w-full h-px"></div>
  <button class="bg-blue-700 text-gray-200 py-1 px-3 mt-12">
    ADD PAYCHECK
  </button>
</div>
