.h-96 {
  height: 81.5vh;
}

:host {
  flex: 0 0 400px;
}

.h-400 {
  height: 300px;
}

.w-400 {
  width: 400px;
}

.active {
  border-bottom: 2px solid lightslategray;
}

.w-95 {
  width: 95%;
}
:host {
  width: 40%;
}
// .w-35 {
//   width: 33vw;
// }
