<navbar></navbar>
<main class="sm:flex p-3 mt-16">
  <div class="p-2 flex flex-col items-center">
    <h1
      class="lg:text-6xl md:text-5xl text-4xl font-yanone lg:w-2/3 text-gray-800"
    >
      The place you can finally put your Entire Budget
    </h1>
    <h4 class="lg:text-2xl md:text-xl text-md text-gray-600 lg:w-2/3">
      Entire Budget is the app you need. Why do the manual reconciliation of
      your checkbookwhen you can do it here?
    </h4>
    <div class="w-2/3 mt-4">
      <button
        (click)="auth.login()"
        class="transition duration-500 ease-in-out hover:bg-blue-900 transform hover:-translate-y-1 hover:scale-110 blue-light p-4 text-white rounded-md self-start"
      >
        TRY IT NOW
      </button>
    </div>
  </div>
  <img
    class="lg:w-1/3 p-4 mx-auto max-w-full mt-16"
    src="assets/money.svg"
    alt="Money Illustration"
  />
</main>
