<nav class="blue flex justify-between p-6">
  <div class="flex ml-2 cursor-pointer">
    <img src="/assets/LOGO.svg" alt="LOGO" />
    <h4 class="font-yanone tracking-widest text-gray-200 ml-2 text-xl">
      Entire Budget
    </h4>
  </div>
  <ul class="mr-2">
    <ng-container *ngIf="(auth.isAuthenticated$ | async) === false">
      <a
        (click)="login()"
        class="px-2 text-gray-200 text-sm font-quicksand tracking-wider cursor-pointer hover:text-gray-600"
        >LOGIN</a
      >
      <a
        (click)="register()"
        class="px-2 text-gray-200 text-sm font-quicksand tracking-wider cursor-pointer hover:text-gray-600"
        >REGISTER</a
      >
    </ng-container>
    <a
      *ngIf="auth.isAuthenticated$ | async"
      (click)="logout()"
      class="px-2 text-gray-200 text-sm font-quicksand tracking-wider cursor-pointer hover:text-gray-600"
      >LOGOUT</a
    >
    <span
      class="px-2 text-gray-400 text-sm font-quicksand tracking-wider"
      *ngIf="auth.user$ | async as user"
    >
      Hi {{ user.name }}!</span
    >
  </ul>
</nav>
