<footer class="blue bottom-0 fixed w-full p-5">
  <div class="text-center">
    <span>Made with ❤ love Chandler Baskins</span>
    <div class="flex justify-center mt-2">
      <a class="p-1" target="_blank" href="https://github.com/chandlerbaskins"
        ><img src="assets/github.svg" alt="Github Social Link"
      /></a>
      <a class="p-1" target="_blank" href="https://twitter.com/chandlerbaskins"
        ><img src="assets/twitter.svg" alt="Twitter Social Link"
      /></a>
      <a
        class="p-1"
        target="_blank"
        href="https://www.linkedin.com/in/chandler-baskins-3bba1b17a/"
        ><img src="assets/linkedin.svg" alt="LinkedIn Social Link"
      /></a>
    </div>
  </div>
</footer>
